﻿<div class="orb" style="height: @(Dimensions)px; width: @(Dimensions)px;">
    @if(Potion.Type == PotionType.Layered)
    {
        for(int i = 0; i < 6; i++)
        {
            <div style="background-color: @Potion.Color[i % 2]"></div>
        }
    }
    else
    {
        <div style="background-color: @Potion.Color[0]"></div>
    }
</div>

@functions {
    [Parameter] double Dimensions { get; set; }
    [Parameter] Potion Potion { get; set; }
}