﻿<div class="smallPotion" onclick="@(_ => OnClick?.Invoke())">
    <span>@Potion.Name</span>
    <Orb Dimensions="30" Potion="Potion" />
</div>

@functions {
    [Parameter] Potion Potion { get; set; }
    [Parameter] Action OnClick { get; set; }
}